/* Color scheme from here: https://www.design-seeds.com/in-nature/flora/flora-hues-41/ */

body {
	background-color: #FEDD77;
}

label {
/*	color: #FEA25D;*/
	font-weight: bold;
	margin: 0px 20px 5px 10px;
}

.jumbotron {
	margin-top: 10px;
	background-color: #C49CD0;
	color: #4E2C66;
/*	height: 200px;*/
	border-color: #FEA25D;
	border-width: 5px;
	border-style: solid;
}

h1, #headertagline {
	text-align: center;
}

#headertagline {
	margin-top: 35px;
}

#wrap {
	margin-bottom: 50px;
}

.form-group {
	margin-top: 10px;
}

#submit, #surveybutton {
	color: #F0F2DD;
	background-color: #FEA25D;
	border-color: #BAD177;
	border-width: 2px;
	font-weight: bold;
	margin-left: 25%;
	width: 50%;
	overflow: auto;
}

#submit {
	margin-top: 25px;
	margin-bottom: 50px;
}

#surveybutton {
	margin-top: 50px;
}

#submit:hover, #surveybutton:hover {
	background-color: #F0F2DD;
	color: #BAD177;
	border-color: #BAD177;
	font-weight: bold;
}

.card-footer {
	background-color: white;
	color: #BAD177;
	border-color: #BAD177;
}

.card {
	background-color: #F0F2DD;
	border-color: #BAD177;
	border-width: 2px;
}

a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #4E2C66;
}

#links {
	color: #BAD177;
	text-decoration: none;
	font-weight: bold;
}
